body{
  font-family: 'Roboto Condensed'!important;
  margin: 0;
}
.bg-dark1{
  background-color: #282c34!important;
}
.bg-white1{
  background-color: #ffffff!important;
}
.text-white1{
  color: #ffffff!important;
}
.text-dark1{
  color: 282c34!important;
}
.text-menu{
  font-size: 12rem;
}
.subtext-menu, .subtext-menu-am{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #ffffff; 
   line-height: 0.1em;
   margin: 10px 0 20px;
   font-size: 4rem;
   font-weight: 300;
}
.subtext-menu span, .subtext-menu-am span { 
  background:#282c34; 
  padding:0 10px; 
}
.subtext-menu-am{
  border-bottom: 1px solid #282c34; 
}
.subtext-menu-am span{
  background: #ffffff;; 
}
.title-product, .title-productam{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #ffffff; 
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-weight: 400;
  color: #282c34;
}
.title-product span,.title-productam span { 
  background:#ffffff; 
  padding:0 10px; 
}
.title-productam{
  border-bottom: 1px solid #282c34;
  color: #ffffff;
}
.title-productam span { 
  background:#282c34; 
}
.list-product li{
  display: flex;
}
.list-product li .title{
  order: 1;
}
.list-product li .price{
  order: 3;
}
.list-product li::after {
  background-image: radial-gradient(circle, currentcolor 1px, transparent 1.5px);
  background-position: bottom;
  background-size: 1ex 4.5px;
  background-repeat: space no-repeat;
  content: "";
  flex-grow: 1;
  height: 1.3em;
  order: 2;
}
.mt-2rem{
  margin-top: 2rem;
}



@media (max-width: 575.98px) { 
  .subtext-menu{
    font-size: 2rem;
  }
  .text-menu{
    font-size: 5rem;
  }
}
